:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
    padding: 24px;
    min-height: calc(100vh - 48px);
    max-height: calc(100vh - 48px);
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
}

.card-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.button{
    height: 40px;
    border-radius: 12px;
    border: none;
    margin: 0 10px;
    font-size: 1em;
}

.emoji {
    font-size: 2em;
}


@media (max-width: 600px) {
    .game-board {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .card-container {
        height: 80px;
    }
}

@media (max-width: 400px) {
    .game-board {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }

    .card-container {
        height: 60px;
    }
}